name: CI

on:
  pull_request:

jobs:
  ci:
    name: Building ${{ matrix.file }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        file:
          - a4-button.yaml
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
      - name: Build ESPHome firmware to verify configuration
        uses: esphome/build-action@v7
        with:
          yaml_file: ${{ matrix.file }}
